@font-face {
    font-family: 'Odin';
    src: url(../fonts/Odin-Rounded-Light.otf);
}

@font-face {
    font-family: 'DS';
    src: url(../fonts/DS.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/Open-Sans-R.ttf);
}

@font-face {
    font-family: 'HT';
    src: url(../fonts/HighTide.otf);
}

.wrapper {
    width: 100%;
    font-family: 'Odin', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

.position-wrp {
    position: relative;
}

.header-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header-logo-link {
    margin-left: 50px;
}

.header-logo {
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
}

.header-search {
    margin-right: 50px;
}

.header-search-img {
    height: 36px;
    width: 36px;
}

.main-wrp {
    display: flex;
}

.fixies,
.cruisers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixies {
    background-image: linear-gradient(180deg, rgba(94,121,198,0.7) 60%, rgba(127,200,200,0.7) 100%), url(../pictures/fixies_img.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 50%;
    height: 1000px;
}

.cruisers {
    background-image: linear-gradient(180deg, rgba(173,125,215,0.7) 60%, rgba(234,178,255,0.7) 100%), url(../pictures/cruisers_img.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 50%;
}

.fixies-title {
    font-size: 120px;
    color: #ffffff;
    font-family: 'HT', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.cruisers-title {
    font-size: 120px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'DS';
    margin-bottom: 20px;
}

.fixies-text,
.cruisers-text {
    font-size: 60px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 15%;
}

.fixies-button,
.cruisers-button {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Open Sans';
    border: none;
    border-radius: 6px;
    height: 80px;
    max-width: 360px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.footer-wrp {
    background-color: #595f6f;
    display: flex;
    padding: 35px 25px;
}

.footer-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-info-title {
    font-size: 44px;
    color: #ffffff;
}

.footer-info-paiment {
    color: #c3c3c3;
    font-size: 22px;
    max-width: 500px;
    width: 100%;
}

.footer-info-text {
    color: #c3c3c3;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 35px;
}

.footer-info-copyright {
    color: #ffffff;
    font-size: 18px;
}

.footer-nav-wrp {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-border {
    width: 2px;
    background-color: #4c5262;
    height: 220px;
}

.nav-list-link {
    color: #c3c3c3;
    font-size: 22px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    align-content: center;
    justify-content: space-between;
}

.nav-list-item {
    margin-right: 100px;
}

.nav-list-item:nth-last-child(-n+3) {
    margin: 0;
}

.footer-social {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-social-title {
    color: #ffffff;
    font-size: 22px;
}

.mail-button {
    border: none;
    border-radius: 6px;
    background-color: #4d5466;
    color: #c3c3c3;
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 35px;
}

.footer-social-img {
    height: 24px;
    width: 24px;
}

.footer-social-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .header-wrp {
        padding: 20px 0;
    }

    .header-logo-link {
        margin-left: 20px;
    }

    .header-search {
        margin-right: 25px;
    }

    .header-logo:before {
        content: url(../pictures/icon-menu.png);
        margin-right: 20px;
    }

    .main-wrp {
        flex-direction: column;
    }
    
    .fixies,
    .cruisers {
        width: 100%;
        height: 650px;
    }

    .fixies-title,
    .cruisers-title {
        font-size: 70px;
        margin-bottom: 10px;
    }

    .fixies-text,
    .cruisers-text {
        font-size: 35px;
        margin-bottom: 80px;
    }

    .fixies-button,
    .cruisers-button {
        font-size: 30px;
        height: 70px;
        max-width: 300px;
    }

    .footer-wrp {
        flex-direction: column;
    }

    .footer-info {
        width: 100%;
        align-items: center;
    }

    .footer-info-title {
        font-size: 34px;
        margin-bottom: 25px;
    }

    .footer-info-paiment {
        text-align: center;
        font-size: 20px;
        margin-bottom: 25px;
    }

    .footer-info-copyright {
        margin-bottom: 35px;
    }

    .footer-nav-wrp {
        width: 100%;
        flex-direction: column;
    }

    .nav-border {
        height: 2px;
        width: 320px;
        margin-bottom: 35px;
    }

    .nav-list {
        flex-wrap: nowrap;
        height: 100%;
        align-items: center;
    }

    .nav-list-item {
        margin: 0;
    }
    
    .nav-list-item + .nav-list-item {
        margin-top: 18px;
    }
    
    .footer-nav {
        margin-bottom: 35px;
    }

    .footer-social-title {
        font-size: 20px;
        margin-bottom: 18px;
        text-align: center;
    }
}
